.navbar {
    border: 1px solid black;          
    background-color: white;
    color: black;
    box-sizing: border-box;
    display: flex;        /* Postavlja stavke horizontalno */
    padding: 0;           /* Uklanja unutrašnji razmak */
    margin: 0;   
    
    
}

.lista {
    
    display: inline-block;        /* Postavlja stavke horizontalno */
    margin-top: 30px;
    color: black;
    margin-left: 900px; 
    gap: 5px ;   
}

@keyframes fadeIn {
    from {
        opacity: 0; /* Početno stanje (nevidljivo) */
    }
    to {
        opacity: 1; /* Krajnje stanje (potpuno vidljivo) */
    }
}


@keyframes fadeIn {
    from {
        opacity: 0; /* Element počinje nevidljiv */
    }
    to {
        opacity: 1; /* Element postaje potpuno vidljiv */
    }
}

/* Stil za klasu Naslov s fade-in animacijom */
.Naslov {
    opacity: 0; /* Početno stanje nevidljivosti */
    animation: fadeIn 3s ease-in forwards; /* Trajanje 3 sekunde */
}

/* Primjena fade-in animacije */
.fade-in {
    opacity: 0; /* Početno stanje */
    animation: fadeIn 2s ease-in forwards; /* Trajanje 2 sekunde */
}


.Naslov {
    font-size: 70px;
}

.info2{
   margin-left: 900px;
}


body {
    background-color: gray;
    color: white;
    font-family: 'Audiowide';
    margin: 0;
    padding: 0;
    text-align: center;
}


.footer {
    border: 1px solid black; 
    padding: 0;          
    margin: 0;           
    background-color: darkslategray;
    color: white;
    box-sizing: border-box;
    display: flex;
    list-style: none;
}

